Source: usbmount
Section: admin
Priority: extra
Standards-Version: 3.9.2
Build-Depends:
 debhelper (>= 9)
Maintainer: Rogério Brito <rbrito@ime.usp.br>
Vcs-Browser: https://anonscm.debian.org/cgit/usbmount/usbmount.git
Vcs-Git: git://anonscm.debian.org/usbmount/usbmount.git
Homepage: http://github.com/rbrito/usbmount

Package: usbmount
Architecture: all
Depends:
 util-linux,
 lockfile-progs,
 systemd,
 udev,
 ${misc:Depends}
Recommends:
 pmount
Suggests:
 ntfs-3g
Description: automatically mount removable storage devices
 This package automatically mounts USB mass storage devices (typically USB
 pendrives) when they are plugged in. The mountpoints (/media/usb[0-7] by
 default), filesystem types to consider, and mount options are
 configurable. When multiple devices are plugged in, the first available
 mountpoint is automatically selected. If the device provides a model name,
 a symbolic link /var/run/usbmount/MODELNAME pointing to the mountpoint is
 automatically created.
 .
 Despite the name, any removable device (like Firewire drives) is also
 supported by USBmount.
 .
 USBmount is intended as a lightweight, minimalistic solution which is
 independent of a desktop environment.
 .
 NOTE: The package usbmount is not meant to be used by people using a
 regular desktop environment (like KDE, or GNOME, among others).  The
 Desktop Environments already provide a way for users to accomplish the task
 of automatically mounting filesystems and problems with this "auto
 mounting" have no relation to the package usbmount.
 .
 The usbmount package is only meant for use with minimalistic systems (or
 for embedded systems) and should only be installed under such
 circumstances: problems mounting USB sticks with a regular desktop
 environment are not bugs with the package automount.
